.Button {
  padding: 10px;
  border: none;
  border-radius: 2px;
  font-size: 15px;
  font-family: 'Montserrat', serif;
  text-transform: uppercase;
  background-color: #dbaae8;
  color: #FFF;
}

.Button:focus {
  outline: none;
}

.Button:hover {
  background-color: #b990c3;
}
